@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

.container .title-area1 .title-1 p,
.container .title-area1 .title-2 p,
.container .title-area2 .title-1 p,
.container .title-area2 .title-2 p, .container .title-area1 .title-1 a,
.container .title-area1 .title-2 a,
.container .title-area2 .title-1 a,
.container .title-area2 .title-2 a, .container .title-area3 .title-3 p, .container .grid .back a, .container .grid .submit a {
  font-size: 5rem;
  font-weight: 600;
}

.container .grid .back, .container .grid .submit, .container .modal, .container .modal .modal-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .title-area1,
.container .title-area2, .container .title-area1 .title-1,
.container .title-area1 .title-2,
.container .title-area2 .title-1,
.container .title-area2 .title-2, .container .bg, .container .grid .Eva, .container .grid .JoJo, .container .grid .Bogi, .container .title-area3, .container .title-area3 .title-3, .container .grid, .container .modal .modal-content .modal-header span, .container .modal .modal-content .modal-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  background: rgba(43, 88, 12, 0.6);
  height: 90rem;
  width: 100%;
}

.container .title-area1,
.container .title-area2 {
  height: 20rem;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.container .title-area1 .title-1,
.container .title-area1 .title-2,
.container .title-area2 .title-1,
.container .title-area2 .title-2 {
  height: 10rem;
  width: 100%;
  position: absolute;
}

.container .title-area1 .title-1 p,
.container .title-area1 .title-2 p,
.container .title-area2 .title-1 p,
.container .title-area2 .title-2 p {
  color: #1b1919;
}

.container .title-area1 .title-1 a,
.container .title-area1 .title-2 a,
.container .title-area2 .title-1 a,
.container .title-area2 .title-2 a {
  text-decoration: none;
  color: #e3d9ca;
}

.container .title-area1 .title-1,
.container .title-area2 .title-1 {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateX(5rem);
          transform: translateX(5rem);
  -webkit-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
}

.container .title-area1 .title-1.show,
.container .title-area2 .title-1.show {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateX(0rem);
          transform: translateX(0rem);
}

.container .title-area1 .title-2,
.container .title-area2 .title-2 {
  opacity: 0;
  visibility: hidden;
}

.container .title-area1 .title-2.show,
.container .title-area2 .title-2.show {
  width: 30%;
  border-radius: 1rem;
  border: 1px solid #2b580c;
  background-color: rgba(43, 88, 12, 0.6);
  opacity: 0.6;
  -webkit-animation: moveY 2s alternate;
          animation: moveY 2s alternate;
  -webkit-transition: all ease-in 0.5s;
  transition: all ease-in 0.5s;
  visibility: visible;
  -webkit-transform: translateY(0rem);
          transform: translateY(0rem);
}

.container .title-area1 .title-2.show:hover,
.container .title-area2 .title-2.show:hover {
  background-color: rgba(43, 88, 12, 0.8);
}

@-webkit-keyframes moveY {
  0% {
    visibility: visible;
    width: 80%;
    -webkit-transform: translateY(10rem);
            transform: translateY(10rem);
  }
  100% {
    visibility: visible;
    width: 30%;
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
}

@keyframes moveY {
  0% {
    visibility: visible;
    width: 80%;
    -webkit-transform: translateY(10rem);
            transform: translateY(10rem);
  }
  100% {
    visibility: visible;
    width: 30%;
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
}

.container .bg {
  z-index: 100;
  background-image: url(../img/forest.png);
  height: 50rem;
  /* 固定背景圖片位置 */
  background-position: 0px 10rem;
  background-repeat: no-repeat;
  width: 100%;
  /* 可使背景圖放大(用於小圖要看全景) */
  /* background-size: cover; */
  /* 可使背景圖縮小(用於大圖要看全景) */
  /* background-size: contain; */
  /* 自定義背景圖片size */
  background-size: 100% auto;
  /* 將背景圖片固定 */
  background-attachment: fixed;
}

.container .grid .Eva, .container .grid .JoJo, .container .grid .Bogi {
  background-color: rgba(43, 88, 12, 0.6);
  outline: 5px solid #1b1919;
  height: 30rem;
  width: 90%;
  position: relative;
  -webkit-box-shadow: 1rem 1rem 1rem #1b1919;
          box-shadow: 1rem 1rem 1rem #1b1919;
}

.container .grid .Eva img, .container .grid .JoJo img, .container .grid .Bogi img {
  height: 90%;
  width: 80%;
  cursor: pointer;
  opacity: 0.5;
  -webkit-transition: all ease-in-out 1s;
  transition: all ease-in-out 1s;
}

.container .grid .name {
  text-align: center;
  width: 50%;
  position: absolute;
  bottom: -10%;
  left: 25%;
  background-color: rgba(27, 25, 25, 0.9);
  border: 1px solid #1b1919;
  border-radius: 5px;
  -webkit-box-shadow: 0rem 0.5rem 0.5rem #1b1919;
          box-shadow: 0rem 0.5rem 0.5rem #1b1919;
}

.container .grid .introduce p, .container .grid .skill ul .skillTotal p, .container .grid .skill ul li p, .container .grid .skill ul li .skillPoints span, .container .modal .modal-content .modal-body p {
  line-height: 1.5rem;
  font-size: 1.2rem;
  color: #1b1919;
}

.container .grid .detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6/7;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  border: 0.5rem solid #1b1919;
  border-radius: 1rem;
  background: #e3d9ca;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
}

.container .grid .back a, .container .grid .submit a {
  border: 1px solid #1b1919;
  border-radius: 5px;
  -webkit-box-shadow: 0rem 0.5rem 0.5rem #1b1919;
          box-shadow: 0rem 0.5rem 0.5rem #1b1919;
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
  padding: 1rem;
  background-color: rgba(27, 25, 25, 0.9);
  text-align: center;
  width: 80%;
  height: 100%;
  color: #e3d9ca;
  text-decoration: none;
}

.container .modal {
  position: fixed;
  z-index: 1;
  padding-top: 10rem;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  visibility: hidden;
}

.container {
  background: rgba(43, 88, 12, 0.6);
  height: 100rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .title-area3 {
  padding: 10rem 0;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.container .title-area3 .title-3 {
  height: 10rem;
  width: 100%;
  position: absolute;
}

.container .title-area3 .title-3 p {
  font-size: 4rem;
  font-weight: 800;
  -webkit-animation: rotate 2s infinite alternate;
          animation: rotate 2s infinite alternate;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(-6deg) translateY(50px);
            transform: rotate(-6deg) translateY(50px);
    font-size: 4rem;
  }
  100% {
    -webkit-transform: rotate(-4deg) translateY(0px);
            transform: rotate(-4deg) translateY(0px);
    font-size: 5rem;
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(-6deg) translateY(50px);
            transform: rotate(-6deg) translateY(50px);
    font-size: 4rem;
  }
  100% {
    -webkit-transform: rotate(-4deg) translateY(0px);
            transform: rotate(-4deg) translateY(0px);
    font-size: 5rem;
  }
}

.container .grid {
  width: 80%;
  height: 40rem;
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-gap: 2rem;
  margin: 0;
}

.container .grid img:hover {
  opacity: 1;
  height: 100%;
  width: 90%;
}

.container .grid .Eva {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.container .grid .JoJo {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.container .grid .Bogi {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}

.container .grid .name p {
  font-size: 4rem;
  color: #e3d9ca;
}

.container .grid .name::after {
  content: '';
  border-width: 12px 10px 0px 15px;
  bottom: -20%;
  left: 10px;
  position: absolute;
  width: 0;
  height: 0;
  border-color: rgba(27, 25, 25, 0.9) transparent transparent transparent;
  border-style: solid;
}

.container .grid .detail.active {
  opacity: 1;
  visibility: visible;
}

.container .grid .introduce {
  border-right: 0.5rem solid #1b1919;
  width: 50%;
  padding: 2rem;
}

.container .grid .skill {
  width: 50%;
  padding: 2rem;
  -webkit-box-shadow: 0rem 0.5rem 0.5rem #1b1919;
          box-shadow: 0rem 0.5rem 0.5rem #1b1919;
}

.container .grid .skill ul {
  width: 100%;
}

.container .grid .skill ul .skillTotal p {
  width: 80%;
}

.container .grid .skill ul .skillTotal p span {
  font-size: 1.5rem;
  padding: 0 1rem;
  width: 20%;
}

.container .grid .skill ul li {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 1rem 0;
}

.container .grid .skill ul li p {
  width: 15%;
}

.container .grid .skill ul li .skillPoints {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.container .grid .skill ul li .skillPoints span {
  cursor: pointer;
  padding: 0.2rem 0.3rem;
  font-size: 2rem;
  background-color: rgba(43, 88, 12, 0.7);
  border: solid 0.1rem rgba(27, 25, 25, 0.7);
  border-radius: 0.2rem;
}

.container .grid .skill ul li .skillPoints p {
  text-align: center;
  height: 1.5rem;
}

.container .grid .back {
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  grid-row: 7/8;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.container .grid .back a:hover {
  width: 100%;
  color: #f7f6f5;
}

.container .grid .submit {
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  grid-row: 7/8;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}

.container .grid .submit a:hover {
  width: 100%;
  color: #f7f6f5;
}

.container .modal .modal-content {
  background: #e3d9ca;
  width: 40%;
  height: 50%;
  border: solid 0.5rem rgba(43, 88, 12, 0.7);
  border-radius: 0.25rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.container .modal .modal-content .modal-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  height: 10%;
  padding: 1rem;
  border-bottom: 0.5rem solid #639a67;
}

.container .modal .modal-content .modal-header h2 {
  font-size: 3rem;
  width: 80%;
}

.container .modal .modal-content .modal-header span {
  width: 10%;
  cursor: pointer;
  font-size: 3rem;
  border: 0.2rem solid #639a67;
}

.container .modal .modal-content .modal-body {
  padding: 1rem;
  width: 100%;
  height: 80%;
}

.container .modal .modal-content .modal-body p {
  max-width: 85%;
  font-size: 1.8rem;
  line-height: 2rem;
}

.container .modal .modal-content .modal-body p span,
.container .modal .modal-content .modal-body p i {
  font-size: 2rem;
  font-weight: 700;
  color: #7c3c21;
}
/*# sourceMappingURL=characters.css.map */