@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

.container .title-area1 .title-1 p,
.container .title-area1 .title-2 p,
.container .title-area2 .title-1 p,
.container .title-area2 .title-2 p, .container .title-area1 .title-1 a,
.container .title-area1 .title-2 a,
.container .title-area2 .title-1 a,
.container .title-area2 .title-2 a {
  font-size: 5rem;
  font-weight: 600;
}

.container .title-area1,
.container .title-area2, .container .title-area1 .title-1,
.container .title-area1 .title-2,
.container .title-area2 .title-1,
.container .title-area2 .title-2, .container .bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  background: rgba(43, 88, 12, 0.6);
  height: 90rem;
  width: 100%;
}

.container .title-area1,
.container .title-area2 {
  height: 20rem;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.container .title-area1 .title-1,
.container .title-area1 .title-2,
.container .title-area2 .title-1,
.container .title-area2 .title-2 {
  height: 10rem;
  width: 100%;
  position: absolute;
}

.container .title-area1 .title-1 p,
.container .title-area1 .title-2 p,
.container .title-area2 .title-1 p,
.container .title-area2 .title-2 p {
  color: #1b1919;
}

.container .title-area1 .title-1 a,
.container .title-area1 .title-2 a,
.container .title-area2 .title-1 a,
.container .title-area2 .title-2 a {
  text-decoration: none;
  color: #e3d9ca;
}

.container .title-area1 .title-1,
.container .title-area2 .title-1 {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateX(5rem);
          transform: translateX(5rem);
  -webkit-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
}

.container .title-area1 .title-1.show,
.container .title-area2 .title-1.show {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateX(0rem);
          transform: translateX(0rem);
}

.container .title-area1 .title-2,
.container .title-area2 .title-2 {
  opacity: 0;
  visibility: hidden;
}

.container .title-area1 .title-2.show,
.container .title-area2 .title-2.show {
  width: 30%;
  border-radius: 1rem;
  border: 1px solid #2b580c;
  background-color: rgba(43, 88, 12, 0.6);
  opacity: 0.6;
  -webkit-animation: moveY 2s alternate;
          animation: moveY 2s alternate;
  -webkit-transition: all ease-in 0.5s;
  transition: all ease-in 0.5s;
  visibility: visible;
  -webkit-transform: translateY(0rem);
          transform: translateY(0rem);
}

.container .title-area1 .title-2.show:hover,
.container .title-area2 .title-2.show:hover {
  background-color: rgba(43, 88, 12, 0.8);
}

@-webkit-keyframes moveY {
  0% {
    visibility: visible;
    width: 80%;
    -webkit-transform: translateY(10rem);
            transform: translateY(10rem);
  }
  100% {
    visibility: visible;
    width: 30%;
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
}

@keyframes moveY {
  0% {
    visibility: visible;
    width: 80%;
    -webkit-transform: translateY(10rem);
            transform: translateY(10rem);
  }
  100% {
    visibility: visible;
    width: 30%;
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
}

.container .bg {
  z-index: 100;
  background-image: url(./../img/forest.png);
  height: 50rem;
  /* 固定背景圖片位置 */
  background-position: 0px 10rem;
  background-repeat: no-repeat;
  width: 100%;
  /* 可使背景圖放大(用於小圖要看全景) */
  /* background-size: cover; */
  /* 可使背景圖縮小(用於大圖要看全景) */
  /* background-size: contain; */
  /* 自定義背景圖片size */
  background-size: 100% auto;
  /* 將背景圖片固定 */
  background-attachment: fixed;
}
/*# sourceMappingURL=index.css.map */